.cocktail-app_result{
    list-style: none;
    padding-left:0;
}

.cocktail-app_result_list{
    margin-bottom: 16px;
    padding: 8px;
}

.cocktail-app_loader{
    height: 20vh;
    width: 100%;
    position: relative;
}

.cocktail-app_loader-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}