body {
  background: #f2f2f2;
}
main{
  min-height: 80vh;
}

footer{
  text-align: center;
}

.MuiTypography-root {
  margin-bottom: 16px !important;
}

.cocktail-app_component {
  border-bottom: 1px solid #2d2d2d;
  padding: 24px 0;
}

.cocktail-app_dictionary_content_pills {
  text-transform: uppercase;
  margin: 8px !important;
}

.cocktail-app_result-navigation {
  margin-right: 8px !important;
}

a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: #2d2d2d;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid #3c4faf;
  color: #3c4faf;
}
